- if @background_image
  - case @page.title
    - when 'Home'
      %div.row.top-img
        %div.center
          = image_tag @background_image, :class => 'home-img fade-in center'
    - else
      %div.row.top-img
        %div.center.hide-for-small-only
          = image_tag @background_image, :class => 'show-img fade-in'


