<section id='page-layout' >
  <div class='sidenav'>

    <ul class="four side-nav">
      <li class="divider"></li>
      <li class="active"><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
      <li><a href="#">Link 4</a></li>
    </ul>
  </div>
<!-- <p><%= Refinery::Page.where(parent_id: @page.parent_id).inspect%></p> -->

  <div class='content'>
  <%= render_content_page(@page, {
        :hide_sections => local_assigns[:hide_sections],
        :can_use_fallback => !local_assigns[:show_empty_sections] && !local_assigns[:remove_automatic_sections]
      }) %>
  <%= render '/refinery/draft_page_message' unless @page.nil? or @page.live? -%>
  </div>
<section>

