
<%$all_blasts.each do |blast|%>
  <%unless blast['Processing_Thread'] == nil %>
    <a href= "http://salsa4.salsalabs.com/o/51084/t/0/blastContent.jsp?email_blast_KEY=<%=blast['email_blast_KEY']%>" target = "_blank">
      <%= blast['Subject']%>
      <%= blast['Scheduled_Time'].match(/\s([a-zA-Z]*\s\d*\s\d*)/)%>
    </a><br>
  <%end%>
<%end%>
