%hr
%div.row
  %div.large-12.columns.text-center
    %ul.large-2.panel.radius.footer-panels
      %li.panel-title Additional Resources
      %li Tool Kits
      %li Downloadable Content
      %li Research Papers
      %li FAQs
      %li More Federal and State Resources
    %ul.large-2.panel.radius.footer-panels
      %li.panel-title News
      %li Newsroom
      %li eNewsletter Archive
    %ul.large-2.panel.radius.footer-panels
      %li.panel-title Contact Us
      %li Co Address
      %li Suite #
      %li Somewhere, Colorado 20000
      %li phone number
      %li fax number
    %ul.large-2.panel.radius.footer-panels
      %li.panel-title Stay Connected
      %li Facebook
      %li Twitter
      %li Linkedin
      %li Slideshare
      %li Youtube
%hr
%p.text-center
  = t('.copyright', :year => Time.now.year, :site_name => Refinery::Core.site_name)