
<form accept-charset="UTF-8" action="/refinery/pages/lookup" data-remote="true" id="leg-lookup" method="get">
  <label{for: "first_name"} First Name:>
  <input id= 'first_name' {name: "First_Name", type: "text"}/>
  <input{type: "Submit", value: "Sign up"}>
</form>
