%div.center.hide-for-small-only
  %ul.small-1.large-2.large-offset-1.columns.side-nav
    %li
      = Refinery::Pages::SubMenuPresenter.new(sub_menu_parent(@parent || @page), self).to_html
    %li.children
      = Refinery::Pages::SubMenuPresenter.new(sub_menu_children(@parent || @page), self).to_html
