%div.row#sign-up-page
  %div#sign-up-form
    %form{action: "https://sandbox.salsalabs.com/save", method: "POST"}
      %input{name: "organization_KEY", type: "hidden", value: "17800"}/
      %input{name: "object", type: "hidden", value: "supporter"}/
      %row
        %div.sign-up-field.large-6.columns
          %label{for: "first_name"} First Name:
          %input#first_name{name: "First_Name", type: "text"}/
        %div.sign-up-field.large-6.columns
          %label{for: "last_name"} Last Name:
          %input#last_name{name: "Last_Name", type: "text"}/
      %row
        %div.sign-up-field.large-12.columns
          %label{for: "email"} Email:
          %input#email{name: "Email", type: "text"}/
      :css
        .memberCode{display:none;}
      .memberCode
        Optional Member Code
        %input{name: "first_name_949", value: ""}/
      %input{name: "link", type: "hidden", value: "groups"}/
      %input{name: "linkKey", type: "hidden", value: "11"}/
      %input{name: "link", type: "hidden", value: "groups"}/
      %input{name: "linkKey", type: "hidden", value: "12"}/
      %input{name: "link", type: "hidden", value: "groups"}/
      %input{name: "linkKey", type: "hidden", value: "13"}/
      %input{name: "tag", type: "hidden", value: "excellent"}/
      %input{name: "redirect", type: "hidden", value: "http://http://climbhighercolorado.herokuapp.com/"}/
      %div.actions.large-6.columns
        %input{type: "Submit", value: "Sign up"}/

