@import "foundation";

/* =========================  NAV BAR  ============================== */
.top-bar-section {
  ul{
    text-transform: uppercase;
    font-size: 13px;
    font-family:proxima-nova;
    font-weight: 400;
    font-style: none;
    text-decoration: none;
    line-height: 1em;
  }
  li a:not(.button) {
    color: pink;
  }
  .has-dropdown > a:after {
   border-color: transparent transparent transparent;
  }
}

.top-bar{
  margin-bottom: 0;

}

/* =========================  FOOTER  ============================== */

footer {
  background-color: rgb(111, 112, 115);
  color: white;
  .row {
    margin-left: auto;
    margin-right: auto;
    max-width: 90rem;
  }
  .footer-panels {
    display: inline-block;
    list-style: none;
    margin: 1px;
    height: 20rem;
    overflow: hidden;
    padding: 10px;
    background-color: #333;
  }
  .panel-title {
    font-weight: bold;
    color: white;
  }
  .social-media > li {
    margin: 10px;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
  }
  .twitter {
    border: 2px solid #55acee;
  }
  .facebook {
    border: 2px solid #3b5998;
  }
  .instagram {
    border: 2px solid #3f729b;
  }
  .google {
    border: 2px solid #f4b400;
  }
  .youtube {
    border: 2px solid #c4302b;
  }
  .linkedin {
    border: 2px solid #0e76a8;
  }
}
