
@import 'foundation_mixins_only';

body {
  margin: 0px;
  padding: 0px;
  background-image: url(textured_stripes.png);
  background-repeat:repeat;

  #page {
    margin-top: 1rem;
    background-color: white;
  }
}

.pdf {
  @include button();
  @include radius();
}

/*========================== Sign Up Form ======================================*/

#sign-up-page{
  padding: 5em;
  @media only screen and (max-width: 48.063em) {
    padding: 1em;
  }
  #sign-up-body, .sign-up-field{
    padding-bottom: 1em;
  }
}

/*------------------------- TAKE ACTION -----------------------------*/

#take-action{
  padding-top: 2em;
}

/*======================= SHARE STORY PAGE ========================*/
#share-story-page{
  padding: 5em;
  @media only screen and (max-width: 48.063em) {
    padding: 1em;
  }
}

/*======================== Social Media ===========================*/

.social-media{
    padding-top: 1em;
    padding-bottom: 1em;
  .social-media-panels {
    display:inline;
  }
  .social-media-img {
    height: 50px;
    width: 50px;
  }
}