
@import 'foundation_mixins_only';

body {
  margin: 0px;
  padding: 0px;
  background-image: url(textured_stripes.png);
  background-repeat:repeat;

  #page {
    margin-top: 1rem;
    background-color: white;
  }
}

.pdf {
  @include button();
  @include radius();
}


/*========================== Sign Up Form ======================================*/

#sign-up-page{
  padding: 5em;
  #sign-up-body, .sign-up-field{
    padding-bottom: 1em;
  }
}
