@import 'foundation_mixins_only';
.home-body{
  padding-right: 1em;
  padding-left: 1em;
  h1, h3{
  font-family: champion;
  }
}

.home{
  padding-top: 2em;
  .sign-up{
    @media only screen and (min-width: 48.063em) {
      border-left: 2px solid #E9E9E9;
    }
  }
}
.spacing{
  padding-left: 1em;
  width: 95%;
  padding-top:1em;
  border-bottom: 2px solid #E9E9E9;
}

#sign-up-form{
  .custom-button-class{
    $button-display: inline-block;
    @include button( 0.5, $primary-color, true);
    padding-top: 0.5em;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-size: medium;
    float: right;
  }
}
.news-group{
  .news{
      padding-top: 1em;
    .news-panels {
      padding-bottom: 2em;
      img{
      width: 20em;
      height: 10em;
      }
    }
  }
}
.splits{
  @media only screen and (min-width: 48.063em){
    border-right:2px solid #E9E9E9 ;
  }
}
.social-media{
    padding-top: 1em;
    padding-bottom: 1em;
  .social-media-panels{
    display:inline-block;
  }
}


