#menu{
  padding-right: 0px;
}
.top-bar .name h1 a {
  padding: 0px 0px;
}
.strip{
  margin-bottom: 0;
  background-color: #333333;
}

#menu ul{
  list-style-type: none;
}
.bcimg{
  margin-left: 0px;
  padding: 0px;

  img{
  width: 100%;
  height: 30%;

  }
}
