/*==================== Side Nav ==========================*/
.side-nav{
  padding-top: 8em;
}

#menu ul{
  list-style-type: none;
}

/*================== Main Nav ==============================*/
.nav-pic{
  height: 30em;
  padding-right:2em;
  padding-left: 1em ;

  @media only screen and (max-width: 40em){
    height: 20em;
    padding-right: 0em;
    padding-left: 0em;
  }
}

#home-logo {
  img{
    max-width: 9em;
    background-color: #CCCCCC;
    @media only screen and (min-width: 40.064em) and (max-width: 48em) {
      background-color: #fff;
      width: 4em;
      margin-top: -0.8em;
    }
    @media only screen and (max-width: 40.063em){
      width:3.5em;
      margin-top: -0.5em;
      background-color: #fff;
    }
  }
}

.main{
  z-index: -1;
  margin-top:5px;
  background-color: #fff;
  @media only screen and (max-width: 40.063em){
    z-index: 1;
    margin-top:0px;
    background-size: 100%;

  }

  form > div{
    display:inline-block;
  }
  input {
    height: 25px;
    margin-bottom:0px;

  }
  .field{
    input{
      width: 20em;

    }
  }
  .login-form{
    padding-top:1em;
  }

  .top-bar-section{
    padding-right: 10px;
    padding-left: 10px;

    ul li a{
      font-weight: bold;
    }
  }
  .small-signin-spacing{
    padding-bottom: 2em;
    .small-gap{
      padding-bottom: 0.5em;
      .input{
        line-height: 2em;
      }
    }
  }
}
.top-img {
/*  max-width: 100%;
  .center{
    text-align: center;
    .home-img{
      width: 90rem;
    }
    .show-img{
      width:70em;
    }
  }*/
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in{

    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;

    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
  background: rgba(0, 0, 0, .25);
  z-index: 99;
 }
